body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: block;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  color: #fff;
  padding: 2.5rem 3rem;
  gap: 3rem;
  z-index: 1;
}

header a {
  color: #fff;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

nav {
  display: flex;
  gap: 2.3rem;
  text-transform: uppercase;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

a:hover {
  font-size: 0.9rem;
  text-decoration: underline;
}

main {
  display: block;
}

.feature {
  position: relative;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 100vh;
}

.image-galaxy {
  background-image: url("./assets/galaxy.jpg");
}

.image-about {
  background-image: url("./assets/about.jpg");
}

.image-landscape {
  background-image: url("./assets/galaxy2.jpg");
}

.image-rocket {
  background-image: url("./assets/rocket.jpg");
}

.image-eclipse {
  background-image: url("./assets/galaxy3.jpg");
}

div {
  display: block;
}
section {
  display: block;
}
.section-info {
  position: absolute;
  bottom: 200px;
  left: 3rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.section-info-tagline {
  text-transform: uppercase;
  font-weight: 100;
  opacity: 1;
  font-size: 1.2rem;
}

.section-info-tag-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.section-info-tag-link {
  margin-top: 1.2rem;
  display: inline-block;
  max-width: 200px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  opacity: 1;
  color: #fff;
  border: 2px solid white;
  padding: 1rem 2rem;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  background-color: black;
  text-align: center;
  color: #555;
  padding: 40px;
  display: block;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

button {
  background-color: black;
  border: 1px solid white;
  padding: 5px;
}
button a {
  text-transform: uppercase;
  opacity: 1;
  color: black;
  color: #fff;
  text-decoration: none;
}

audio {
  height: 30px;
  position: fixed;
  left: 20px;
  bottom: 60px;
}

.fb-icon {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.insta-icon {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 500px) {
  .nav {
    display: block;
  }
}